@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1008px) {
    .dropdown-custom{
        margin: auto;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ&display=swap');

.gfont{
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}